### Titanic dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
titanic_dataset = pd.read_csv(r'F:\Tejaswini\5th_Sem\ML\titanic.csv')
titanic_dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
titanic_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic_dataset.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
titanic_dataset.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
titanic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
titanic_dataset.shape

(891, 12)

In [8]:
titanic_dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
titanic_dataset.dropna(axis=0, inplace=True)

In [10]:
titanic_dataset.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [11]:
titanic_dataset['Sex'] = titanic_dataset['Sex'].map({'female': 0, 'male': 1})

In [12]:
columns_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']
titanic_dataset.drop(columns=columns_to_drop, inplace=True)

In [13]:
titanic_dataset

     Survived  Pclass   Age
1           1       1  38.0
3           1       1  35.0
6           0       1  54.0
10          1       3   4.0
11          1       1  58.0
..        ...     ...   ...
871         1       1  47.0
872         0       1  33.0
879         1       1  56.0
887         1       1  19.0
889         1       1  26.0

[183 rows x 3 columns]

In [14]:
t1 = titanic_dataset.drop('Survived', axis=1)
target = titanic_dataset['Survived']

In [15]:
t1

     Pclass   Age
1         1  38.0
3         1  35.0
6         1  54.0
10        3   4.0
11        1  58.0
..      ...   ...
871       1  47.0
872       1  33.0
879       1  56.0
887       1  19.0
889       1  26.0

[183 rows x 2 columns]

In [16]:
target

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(t1, target, test_size=0.3, random_state=42)

In [18]:
len(x_train)

128

In [19]:
len(y_train)

128

In [20]:
len(x_test)

55

In [21]:
len(y_test)

55

In [22]:
x_train.shape

(128, 2)

In [23]:
y_train.shape

(128,)

In [24]:
x_test.shape

(55, 2)

In [25]:
y_test.shape

(55,)

In [26]:
from sklearn.base import BaseEstimator, ClassifierMixin

# Single Perceptron Implementation
class Perceptron(BaseEstimator, ClassifierMixin):
    def __init__(self, learning_rate=0.01, n_iterations=1000):
        self.learning_rate = learning_rate
        self.n_iterations = n_iterations

    def initialize_weights(self, n_features):
        self.weights = np.zeros(n_features)
        self.bias = 0

    def activation_function(self, x):
        return np.where(x >= 0, 1, 0)

    def weighted_sum(self, X):
        return np.dot(X, self.weights) + self.bias

    def update_weights(self, X, y, y_pred):
        error = y - y_pred
        self.weights += self.learning_rate * np.dot(X.T, error)
        self.bias += self.learning_rate * np.sum(error)

    def fit(self, X, y):
        n_samples, n_features = X.shape
        self.initialize_weights(n_features)

        for _ in range(self.n_iterations):
            y_pred = self.activation_function(self.weighted_sum(X))
            self.update_weights(X, y, y_pred)

    def predict(self, X):
        return self.activation_function(self.weighted_sum(X))

### Titanic fit

In [27]:
perceptron = Perceptron()
perceptron.fit(x_train, y_train)
pred = perceptron.predict(x_test)

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.6363636363636364

In [29]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        20
           1       0.64      1.00      0.78        35

    accuracy                           0.64        55
   macro avg       0.32      0.50      0.39        55
weighted avg       0.40      0.64      0.49        55

### GridSearchCV

In [30]:
from sklearn.model_selection import train_test_split, GridSearchCV

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(t1, target, test_size=0.3, random_state=42)
perceptron = Perceptron(0.001, 100)

# Define the hyperparameter grid
param_grid = {'learning_rate': [0.0001, 0.001, 0.01, 0.1, 1.0], 'n_iterations': [10, 50, 100, 200, 500]}

#Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=perceptron, param_grid=param_grid, cv=3, scoring='accuracy')
grid_search.fit(x_train, y_train)

GridSearchCV(cv=3, estimator=Perceptron(learning_rate=0.001, n_iterations=100),
             param_grid={'learning_rate': [0.0001, 0.001, 0.01, 0.1, 1.0],
                         'n_iterations': [10, 50, 100, 200, 500]},
             scoring='accuracy')

In [31]:
len(x_train)

128

In [32]:
len(y_train)

128

In [33]:
len(x_test)

55

In [34]:
len(y_test)

55

In [35]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(128, 2)
(55, 2)
(128,)
(55,)

In [36]:
# Get the best parameters
best_params = grid_search.best_params_
print("Best Parameters:", best_params)
    
# Initialize the perceptron with the best parameters
best_perceptron = Perceptron(learning_rate=best_params['learning_rate'], n_iterations=best_params['n_iterations'])

# Train the perceptron
best_perceptron.fit(x_train, y_train)

# Make predictions on the test set
y_pred = best_perceptron.predict(x_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Best Parameters: {'learning_rate': 0.0001, 'n_iterations': 10}
Accuracy: 0.6363636363636364

## Assignment:
### Implement a single perceptron for the Iris dataset and utilize GridSearchCV for hyperparameter tuning.

## Iris Dataset

In [37]:
iris_dataset = pd.read_csv(r'F:\Tejaswini\6th_Sem\DL\iris_dataset.csv')
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [38]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [39]:
iris_dataset.tail()

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [40]:
iris_dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [41]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [42]:
iris_dataset.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [43]:
iris_dataset['class'] = iris_dataset['class'].map({'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica':2})

In [44]:
data = iris_dataset.drop('class', axis=1)

In [45]:
data

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [46]:
target1 = iris_dataset['class']

In [47]:
target1

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: class, Length: 150, dtype: int64

### Iris fit

In [48]:
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(data, target1, test_size=0.3, random_state=42)

In [49]:
len(x_train1)

105

In [50]:
len(x_test1)

45

In [51]:
len(y_train1)

105

In [52]:
len(y_test1)

45

In [53]:
# Standardize features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train1 = scaler.fit_transform(x_train1)
x_test1 = scaler.transform(x_test1)

In [54]:
perceptron = Perceptron()
perceptron.fit(x_train1, y_train1)
pred1 = perceptron.predict(x_test1)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test1, pred1)

0.7111111111111111

In [56]:
from sklearn.metrics import classification_report
print(classification_report(y_test1, pred1))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       0.50      1.00      0.67        13
           2       0.00      0.00      0.00        13

    accuracy                           0.71        45
   macro avg       0.50      0.67      0.56        45
weighted avg       0.57      0.71      0.61        45

### GridSearchCV

In [57]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Perceptron

perceptron = Perceptron()

# Define the hyperparameter grid
param_grid = {'alpha': [0.0001, 0.001, 0.01, 0.1, 1.0], 'max_iter': [10, 50, 100, 500, 1000]}

#Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=perceptron, param_grid=param_grid, cv=5, scoring='accuracy')
grid_search.fit(x_train1, y_train1)

GridSearchCV(cv=5, estimator=Perceptron(),
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1, 1.0],
                         'max_iter': [10, 50, 100, 500, 1000]},
             scoring='accuracy')

In [58]:
print(x_train1.shape)
print(x_test1.shape)
print(y_train1.shape)
print(y_test1.shape)

(105, 4)
(45, 4)
(105,)
(45,)

In [59]:
# Get the best parameters
best_params = grid_search.best_params_
print("Best Parameters:", best_params)
    
# Initialize the perceptron with the best parameters
best_perceptron = Perceptron(alpha=best_params['alpha'], max_iter=best_params['max_iter'])

# Train the perceptron
best_perceptron.fit(x_train1, y_train1)

# Make predictions on the test set
y_pred = best_perceptron.predict(x_test1)

# Evaluate the model
accuracy = accuracy_score(y_test1, y_pred)
print(f"Accuracy: {accuracy}")

Best Parameters: {'alpha': 0.0001, 'max_iter': 50}
Accuracy: 0.9555555555555556